.container{
    max-width: 700px;
  }

.chat-pencere{
    display: none;
  }

.takmaAd{
    font-weight: bold;
}

.tarih{
    font-size: 0.7em;
    color:#999;
}

.guncelle-mesaj{
  text-align:center;
}